*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(./image/student.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    width: 100%;
    overflow-x: hidden;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    height: 60px;
    padding: 15px;
    gap: 20px;
}
ul li {
    display: inline-block;
   
    
}
ul li a {
    padding: 20px;
    font-size: 1.5em;
    text-decoration: none;
    color: #ffffff;
}
.logo h1{
    background-color: #ffffff;
    height: 60px;
    padding: 20px;
    font-weight: 800;
    color: green;
}
.center {
    text-align: center;
    margin-top: 11em;
}
.center p {
    color: rgb(22, 230, 22);
    font-weight: 900;
    font-size: 1.5em;
}
.center h1 {
    color: #ffffff;
    font-size: 4em;
    padding: 20px;
    font-weight: bold;
}
.bottom {
    background-color: rgba(0, 0, 0, 0.712);
    margin-top: 12.8em;
    text-align: center;
}
.bottom h1 {
padding-top: 100px;
font-size: 3.5em;
color: #ffffff;
}
.bottom p {
    color: #ffffff;
}
.flex {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
}
.flex a {
    padding: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em; 
}
.flexbox {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
    margin-right: 20px;
}
.flexbox a {
    
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em; 
}
.flexbox p a{
    margin-left: 20px;
}
.phone-number {
    margin-left: -50px;
}

.fas {
    padding-left: 200px;
}
.border-bottom {
    border-bottom: 2px solid rgb(6, 26, 6);
    margin-top: 100px;
}
footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    padding: 20px;
    font-size: 1.1em;
}